@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');


footer{
    height:50px;
    background-color: rgb(167, 167, 167);
    font-family: 'Inter',sans-serif;
    text-align: center;
    display: grid;
    place-items: center;
}

